/* 
    Document   : chat
    Created on : 15.5.2011, 12:24:00
    Author     : Buri
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body,html,div{
    margin: 0;
    padding: 0;
}
.hide{
    display:none;
}
body{
    background-color: #000;
    color:#fff;
    background-image: url(/images/chat-bg.jpg);
    background-position: top center;
}
footer{
    position:fixed; 
    min-height: 30px; 
    bottom: 0; 
    left:0;
    right:140px;
}
button, input{
    border-radius: 3px;
    border: 1px solid #669;
    background-color: #339;
    color: #fff;
}
button:focus, input:focus{
    background-color: #66c
}
.user-list-icon{
    max-height: 26px;
    max-width: 26px;
    vertical-align: middle;
    margin-right: 6px;
}
#frmMsg{
    display:inline-block;
}
#glass{
    overflow: hidden;
}
#glassLength{
    cursor: help;
}
.datetime{
    color:gray;
    font-size: x-small;
}
#constat{
    right: 0 !important;
    left: inherit;
    position: fixed;
}
#user-list{
    padding-top: 40px;
}