/* 
    Document   : chat
    Created on : 15.5.2011, 12:24:00
    Author     : Buri
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body,html,div{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color:#fff;
}
.datetime{
    color:gray;
}
#constat{
    right: 0 !important;
    left: inherit;
    position: fixed;
}
