/*
    Document   : screen.css
    Created on : 8.7.2011, 14:20:20
    Author     : Buri
    Description:
        Purpose of the stylesheet follows.
*/

/* DARK skin */
@import url("/css/skins/dark.css");
@import url("/css/skins/paper.css");

.transition *{
    /*-moz-transition: all 1s linear ;
    -webkit-transition: all 1s linear ;
    -ms-transition: all 1s linear ;
    -o-transition: all 1s linear ;
    transition: all 1s linear ;*/
}

/* generic classes */
.hide{
    display:none;
}
.offline{
    background-color: red;
    color: white;
}
.online{
    background-color: lime;
    color: #000;
}
/* connection status */
#constat{
    display: none;
}

.runac #constat{
    display: inline-block;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}
