body{
    background-color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
a{
    color: #E4F9E3;
    text-decoration: none;
}
.holder{
    width: 950px;
    display: inline-block;
    text-align: left;
}
.logo{
    border: 1px solid white;
    height:174px;
}
.leftmenu{
    border:1px solid red;
    float: left;
    width:100px;
    height: 400px;
}
.menu{
    border-bottom: 1px solid white;
    border-top: none;
    text-align: center;
}
.menu.main{
    height: 34px;
    /*background-color: #DDD;*/
}
.menu.main *{
    vertical-align: middle;
}
.content{
    padding: 6px;
}

.menu .left{
    float:left;
}
.menu .right{
    float: right;
}
.left a, .right a{
    width:200px;
}
.menu.logo a{
    display: block;
    height: 87px;
    vertical-align: middle;
}
.menu a.middle{
    height: 100%;
}
.hidden{
    display:none;
}
.pre{
    white-space: pre-wrap;
}
.lock{
    padding-right: 20px;
    background-image: url('/images/chatlock.png');
    background-position: center right;
    background-repeat: no-repeat;
}


/* LogInForm style definition */
.logInForm{
    display: inline;
}
.logInForm *{
    font-size: 12px;
    display: inline;
}

#buddylist{
    position: absolute;
    right: 0;
    top:34px;
    width: 180px;
    min-height: 220px;
    border: 1px solid white;
    z-index: 80;
    background: black;
}