*~
/temp/*
!/temp/.gitignore
!/temp/userspace/*
/log/*
!/log/.gitignore
/assets/dev/*
/node/node_modules/*
/db/user_ip_addresses/*
!/db/user_ip_addresses
!/db/user_ip_addresses/.gitignore
/userspace/u/*
!/userspace/u/.gitignore
/userspace/i/*
!/userspace/i/.gitignore
!/userspace/g/.gitignore
/userspace/g/*
!/userspace
/documentation/*
!/documentation/.gitignore
/node/enabled_modules/*
/config/config.local.neon
/nbproject/private/