<!DOCTYPE html>
<html>
    <head>
        {include '../../../templates/head.latte'}
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{!$staticPath}/css/chat.css" />
    </head>
    <body n:syntax="double" class="{$_COOKIE['skin']}">
        <div style="display:block;">
            <audio id="audioNotification" preload="full">
                <source src="http://static.aragorn.cz/sound/global.ogg" />
                <source src="http://static.aragorn.cz/sound/global.mp3" />
                <source src="http://static.aragorn.cz/sound/global.wav" />
            </audio>
        </div>
        <div id="user-list" style="position: fixed; width: 140px; top:20px;right: 0; border-left: 1px dashed gray; bottom: 0; padding: 4px; padding-top: 25px;"></div>
        <div id="glass" style="white-space: pre-wrap; overflow: auto; right: 150px; left: 0; bottom: 35px; top: 0;position: fixed; padding: 16px;"></div>
        <footer>
            {{if $param != "ninja"}}
            <form id="frmMsg">
                Zpráva: <input type="text" name="msg" id="msg" size="40" autocomplete="off" /> <button type="submit">Odeslat</button>
            </form>
            <button onclick="AC.send('core',{ call:'request-moderator', page:location.href}); AC.message('Volám správce', 'Až to bude doprogramované');">Zavolat správce</button>
            {{if $user->isAllowed('chat', 'moderator')}}
            <button id="showDeletes" onclick="$(this).setStyle('background', Chat.toggleDeletes() ? 'red' : '#339');">Mazáni zpráv</button>
            {{/if}}
            {{else}}
            <button data-href="{{link enter $rid}}" onclick="location.href = $(this).get('data-href');">Vstoupit</button>
            {{/if}}
            <select name="glassLength" id="glass-length" title="Počet zobrazovaných zpráv">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
            </select>
            <button onclick="AC.message('Nastavení', 'Zobrazit nastavení chatu? Spíš asi udělat jako link...');">Nastavení</button>
            <button data-href="{{if $param == "ninja"}}{{link chat:}}{{else}}{{link leave $rid}}{{/if}}" onclick="location.href = $(this).get('data-href');">Odejít</button>
            {{if $type == 'game'}}
                Něco specifického pro rozcestí?
                Vyřešit zobrazování postav...
            {{/if}}
            <div id="constat" title="Connection status: offline" class="offline" style="display: inline-block; position: relative;">&infin;</div>
        </footer>
        <script n:syntax="double">
            window.AUTHENTICATED = {{$isLogedIn = Nette\Environment::getUser()->isLoggedIn()}};
            window.rid = {{$rid}};
            </script>
        {include '../../../templates/scripts.latte'}
        <script type="text/javascript" charset="utf-8" n:syntax="double">
            var Chat = null;
            var ChatClient = new Class({
                Implements:[Events, Options],
                options:{
                    tips:{
                        position:'left',
                        html:true,
                        distance:55,
                        content:function(e){ 
                            var info = JSON.decode(e.get('data-info')),
                                diff = parseInt((new Date().getTime() - info.time)/1000),
                                act = {m:parseInt(diff/60), s:diff%60, type:{idle:'Čte', 'writing':'Píše...', 'textready':'Má rozepsaný text', deleting:'Maže...', offline:'Nepřipojený'}},
                                html = '<img src="' + info.icon + '" style="max-height:50px; vertical-align: top;" />\n' +
                                       '<div style="display:inline-block; margin-left:3px;">\n' +
                                       '<b>' + info.name + '</b><br/>\n' + 
                                       '<i>'+ act.m + ' min. a ' + act.s + ' sec.</i><br/>\n'+
                                       '<span>' + act.type[info.state] + '</span><br/>\n' + 
                                       '<span>' + info.status + '</span>' +
                                       '</div>'; 
                            return html;
                        }
                    },
                    tipsSelector:'div.users',
                    userList:'user-list',
                    glass:'glass',
                    limit:50,
                    input:'msg',
                    typeDelay:800
                },
                initialize:function(t, options){
                    this.setOptions(options);
                    t.registerCmd('chat', this._handle.bind(this));
                    this.transport = t;
                    t.addEvent('SESSION_HANDSHAKE',function(){
                        t.send('chat', {action:'enter', rid:rid});
                        t.send('chat', {action:'userlist', rid:rid});
                    });
                    this.tips = new FloatingTips(this.options.tipsSelector, this.options.tips);
                    this.options.input = $(this.options.input);
                    if(this.options.input)
                        this.options.input.addEvent('keyup', this._typingInfo.bind(this));
                },
                transport:null,
                tips:null,
                showDelete:false,
                toggleDeletes:function(){
                    this.showDelete = !this.showDelete;
                    if(this.showDelete)
                        $$('.cross-delete').removeClass('hide');
                    else
                        $$('.cross-delete').addClass('hide');
                    return this.showDelete;
                },
                connectedUsers:[],
                matchUser:function(u){
                    if(!u || !(u.length)) return false;
                    u = u.toLowerCase();
                    var res = "";
                    this.connectedUsers.each(function(cu){
                        if(cu.name.substr(0, u.length).toLowerCase() == u){
                            res = cu.name;
                            return;
                        }
                        return null;
                    });
                    return res;
                },
                _typing:{
                    t:null, // Timeout
                    state:'idle',
                    fn:function(){
                        this._typing.state = $(this.options.input).value.length ? 'textready' : 'idle';
                        //console.log(this._typing.state);
                        this.transport.send('chat',{action:'state', state:this._typing.state, rid:rid});
                    }
                },
                _typingInfo:function(e){
                    
                    if(this._typing.t) clearTimeout(this._typing.t);
                    if(this._typing.state != 'typing'){
                        this._typing.state = 'typing';
                        //console.log(this._typing.state);
                        this.transport.send('chat',{action:'state', state:this._typing.state, rid:rid});
                    }
                    this._typing.t = setTimeout(this._typing.fn.bind(this), this.options.typeDelay);
                    var ch = "", usr = null, v = new String(this.options.input.get('value'));
                    if(e.key == 'control' && v.indexOf('#') == -1){
                        ch = "#";
                        usr = this.matchUser(v);
                    }
                    if(e.key == 'alt' && v.indexOf(':') == -1){
                        e.stop();
                        ch = ":";
                        usr = this.matchUser(v);
                    }
                    if(usr){
                        this.options.input.set('value', usr + ch + ' ');
                    }
                },
                _handle:function(msg){
                    //console.log(msg)
                    var whole = msg;
                    msg = msg.data;
                    switch(msg.action){
                        case 'post':
                            //console.log('New post');
                            var d = new Date();
                            d.setTime(msg.time || whole.time);
                            new Element('div', {
                                id:msg.id,
                                styles:{
                                    color:msg.color,
                                    'font-size':msg.size || 'inherit',
                                    'font-weight':msg.whisper ? 'bold' : 'regular'
                                }
                            }).adopt(
                                new Element('a',{
                                    href:'#',
                                    text:'x',
                                    'class':'cross-delete' + (this.showDelete ? '' : ' hide'),
                                    events:{
                                        click:function(e){
                                            if(e) e.stop();
                                            var mid = msg.id;
                                            this.transport.send('chat', {action:'delete', rid:rid, messid:mid});
                                        }.bind(this)
                                    }
                                }),
                                new Element('span', {
                                    'class':'datetime',
                                    text:' ' + (d.getHours() < 10 ? '0' : '') + d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + ':' + (d.getSeconds() < 10 ? '0' : '') + d.getSeconds() + ' '
                                }),
                                new Element('strong', {text:(msg.from || whole.user.name) + (msg.whisper ? ' » ' + msg.whisper : '') + ': '}),
                                new Element('span', {text:msg.message})
                            ).inject($(this.options.glass), 'top');
                            if(this.options.limit){
                                var c = $$('#' + this.options.glass + ' div'), s = parseInt(typeOf(this.options.limit) == 'number' ? this.options.limit : $(this.options.limit).get('value'));
                                for(var i = s - 1; i < c.length; i++){
                                    c[i].dispose();
                                }
                            }
                            break;
                        case 'queue':
                            for(var i = 0; i < msg.queue.length; i++){
                                this._handle(msg.queue[i]);
                            }
                            break;
                        case 'notify':
                            AC.message(msg.title, msg.body, msg.options);
                            break;
                        case 'userlist':
                            $$('#user-list div.users, #user-list div.users *').dispose(); 
                            this.connectedUsers = msg.list;
                            this.connectedUsers.each(function(usr){
                                var img = usr.state == 'typing' ? 'edit-icon' : (usr.state == 'textready' ? 'notepad-icon' : 'blank');
                                var e = new Element('div', {
                                    'class':'users',
                                    'data-info':JSON.stringify(usr)
                                }).adopt(new Element('img', {src:usr.icon, 'class':'user-list-icon'}), new Element('span', {text:usr.name + ' '}), new Element('img', {id:'ty' + usr.name, alt:' - ' + usr.state, src:'http://static.aragorn.cz/images/' + img + '.png', styles:{'vertical-align':'middle'}}));
                                $(this.options.userList).grab(e);
                            }.bind(this));
                            this.tips.attach(this.options.tipsSelector);
                            break;
                        case 'delete':
                            $$('#' + msg.message).dispose();
                            break;
                        case 'force-leave':
                            location.href = '/chat/leave/' + rid + '/' + (msg.silent ? 'silent/' : '');
                            break;
                     }
                },
                send:function(cmd, params){
                    this.transport.send('chat', Object.merge({action:cmd, rid:rid}, params));
                }
            });
            window.addEvent('domready', function(){
                Chat = new ChatClient(AC, {limit:'glass-length'});
                if($('msg')) $('msg').focus();
                $('glass-length').addEvent('change', function(e){
                    Cookie.write('chat-glass-length', this.get('value'), {duration:365});
                });
                $('glass-length').set('value', Cookie.read('chat-glass-length') || 150);
                if($('frmMsg'))
                    $('frmMsg').addEvent('submit', function(e){
                        new Event(e).stop();
                        var v = this.msg.value;
                        if(v.length){
                            var pos = v.indexOf('#');;
                            if(pos != -1){
                                var usr = v.substr(0, pos);
                                if(Chat.matchUser(usr) == usr){
                                    Chat.send('post', {message:this.msg.value, whisper:usr}); 
                                }
                            }else if(v[0] == '/'){    
                                var p = v.indexOf(' '), cmd = p == -1 ? v.substr(1) : v.substr(1, v.indexOf(' ')-1), param = p == -1 ? '' : v.substr(++p);
                                switch(cmd){
                                    case 'ban':
                                        // Do some bad stuff
                                        break;
                                    case 'help':
                                        // Load stuff via ajax
                                        AC.message('Nápověda', 'Nápověda momentálně není dostupná. Pracujeme na nápravě problému');
                                        break;
                                    case 'who':
                                    case 'whois':
                                    case 'find':
                                        // Lets find that son of a beach
                                        break;
                                    case 'time':
                                    case 'date':
                                        AC.message('Čas', new Date().toString());
                                        break;
                                    case 'unixtime':
                                        AC.message('Unix timestamp', Math.round(new Date().getTime()/1000));
                                        break;
                                    case 'quit':
                                    case 'exit':
                                    case 'odejit':
                                    case 'leave':
                                        location.href = '/chat/leave/' + rid + '/';
                                        break;
                                    case 'kickall':
                                        if(!confirm('Vyhodit všechny z místnosti?')) break;
                                    default:
                                        Chat.send('cmd', {command:cmd, params:{param:param}});
                                }
                            }else{
                                Chat.send('post', {message:v});
                            }
                            this.msg.value='';
                        } 
                        return false;
                    });
            });
        </script>
    </body>    
</html>