<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <title>{$title} - Chat | Aragorn.cz</title>
        <meta name="revisit-after" content="2 hours" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="Jakub Korál :: apophis, e-mail: apophis&#64;aragorn&#46;cz" />
        <meta name="keywords" content="online,on-line,fantasy,komunita,Dračí doupě,DrD,RPG,herna,články,galerie,ORP,Open Role Play" lang="cs" />
        <meta lang="cs" name="description" content="Aktuální úvodníky které obsahují novinky. Nejnovější články a naposledy schválené hry z herny. Náhodný obrázek z galerie." />
        <meta name="verify-v1" content="Ag52d+2UaYRLwlJy5DiR+SjkptPFk0nsSdKsIKNZpeI=" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="ICBM" content="50.075342, 14.412575" />
        <meta http-equiv="Content-language" content="cs" />
        <base target="_blank" />
        <link rel="shortcut icon" type="image/x-icon" href="http://www.aragorn.cz/favicon.ico" />
        <link rel="stylesheet" media="print" type="text/css" href="{!$staticPath}/css/printing.css" />
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{!$staticPath}/css/screen.joined.css" />
        <script type="text/javascript" charset="utf-8" src="{!$staticPath}/js/mootools-core-1.3.1-full-nocompat-yc.js"></script>
        <script type="text/javascript" charset="utf-8" src="{!$staticPath}/js/mootools-more.js"></script>
        <script type="text/javascript" charset="utf-8" src="{!$staticPath}/js/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{!$staticPath}/js/aragorn-yc.js"></script>
        <script type="text/javascript" charset="utf-8" n:syntax="double">
            window.AUTHENTICATED = {{$isLogedIn = NEnvironment::getUser()->isLoggedIn()}};
            var ChatClient = new Class({});
            window.addEvent('domready', function(){
                AC.registerCmd('chat', function(msg){
                    //console.log(msg);
                    $('sklo').set('text', msg.from + ':' + msg.message + '\n' + $('sklo').get('text'));
                });
                AC.send({cmd:'chat',data:{action:'enter', id:{{$rid}}}});
            });
        </script>
        <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/assets/css/ie6.css" /><![endif]-->

    </head>
    <body n:syntax="double">
        <form onsubmit="AC.send({cmd:'chat',data:{action:'post', id:{{$rid}}, message:this.msg.value}}); this.msg.value=''; return false;">
            <input type="text" name="msg" /> <button type="submit">Odeslat</button>
        </form>
        <a href="{{link leave $rid}}" target="_self">Odejít</a>
        <div id="sklo" style="white-space: pre-wrap;"></div>
    </body>
</html>