<div class="widget" id="widget-{$widgetId}">
            <div class="widgetHead">
                <div class="widgetTitle">{$widgetTitle}</div>
                <div class="widgetMenuButton"> </div>
            </div>
            {include $widgetTemplate}
</div>