development < production:
production:
  php:
    date.timezone: Europe/Prague
  nette:
    session:
      expiration: '+ 1 year'
    templateCacheStorage:
      class: Nette\Caching\Storages\MemcachedStorage(%memcache.host%, %memcache.port%)
  services:
    robotLoader:
      run: true
      class: Nette\Loaders\RobotLoader
    authorizator:
      class: \UserAuthorizator
    cacheStorage:
      class: Nette\Caching\Storages\MemcachedStorage(%memcache.host%, %memcache.port%)
    NodeConnector:
      class: NodeConnector(%node.phpbridge.protocol%%node.phpbridge.socket%)
    Node:
      class: Node
    Permissions:
      class: Permissions
    
  parameters:
    lockdown: false
    logdir: /var/www/logs
    presenterRoutingTable: "uzivatele:users,registrace:registration,napoveda:help,posta:mail,nastaveni:settings,chat:chat,neplatne-prihlaseni:badlogin,diskuze:forum,herna:den,galerie:gallery,clanky:articles,databaze:database,akce:calendar"
    actionRoutingTable: "vstoupit:enter,odejit:leave,mistnost:room,spatne-heslo:badpasswd,dokoncit:finish,overeni-emailu:mail,prochazet:default,profil:profile,logout:logout,zapomenute-heslo:recoverpassword"
    staticServer: static.aragorn.cz
    userServer: user.aragorn.cz
    servers:
      domain: aragorn.cz
      staticContent: static.aragorn.cz
      userContent: user.aragorn.cz
    registration:
      enabled: true
      closeReason: Přpravujeme databázi.
      mail: 'registrace@%servers.domain%'
    memcache:
      host: 127.0.0.1
      port: "11211"    
    database:
      lazy: true
      driver: mysql
      params: "host=127.0.0.1;port=3306;dbname=aragorn_cz;"
      user: root
      password: a
    node:
      port: 8000
      jobs: 0
      phpbridge:
        protocol: unix://
        socket: /var/run/nodejs.sock
        port: null

    port: 8000
    usock: /var/run/nodejs.sock
    jobs: 0
