development < production:
production:
  parameters:
    performance:
      deferScripts: false
    debug:
      force: true
    servers:
      domain: aragorn.cz
      staticContent: static.aragorn.cz
      userContent: user.aragorn.cz
    database:
      lazy: true
      driver: mysql
      params: "host=127.0.0.1;port=3306;dbname=aragorn_cz;"
      user: root
      password: a
