common:
development:
	php:
		date.timezone: Europe/Prague
		
	variables:
		logdir: %appDir%/../logs
		presenterRoutingTable: "uzivatele:users,registrace:registration,napoveda:help,posta:mail,nastaveni:settings,chat:chat,neplatne-prihlaseni:badlogin,diskuze:forum,herna:den,galerie:gallery,clanky:articles,databaze:database"
		actionRoutingTable: "vstoupit:enter,odejit:leave,mistnost:room,spatne-heslo:badpasswd,dokoncit:finish,overeni-emailu:mail"
		staticServer: static.aragorn.cz
		userServer: user.aragorn.cz
		registrationEnabled: true
		registrationCloseReason: Připravujeme databázi. 			
	services:
		robotLoader:
			run: true
		authorizator:
			class: UserAuthorizator
	memcache:
		host: 127.0.0.1
		port: "11211"		
	database:
		lazy: true
		driver: mysql
		params: "host=127.0.0.1;port=3306;dbname=aragorn_cz;"
		user: aragorncz
		password: arag
		
	port: "8000"
	usock: /var/run/nodejs.sock
	modules: chat
		