{var $title="Údržba - RS"}
{block content}
<ul>
    <li>
        Cache:
        <ul>
            <a n:href="cacheclean">Vyčistit</a>
        </ul>
    </li>
    <li>
        Node:
        <ul>
            <li><a n:href="nodestart">Start</a></li>
            <li><a n:href="nodestop">Stop</a></li>
            <li><a n:href="noderestart">Restart</a></li>
            <li><a n:href="nodelist">Zkontrolovat procesy</a></li>
        </ul>
    </li>
</ul>