{? $title='Nastavení'}
{block content}
<style>
    .dark ul.settingsMenu li{
        display: inline-block;
        margin-left: 15px;
    }
</style>
<ul class="settingsMenu">
    <li>Nastavení:</li>
    <li><a n:href="icon">Ikonka</a></li>
    <li><a n:href="bank" class="ajax">Banka</a></li>
    <li><a n:href="system" class="ajax">Systém</a></li>
    <li><a n:href="chat">Chat</a></li>
    <li><a n:href="widgets" class="ajax">Widgety</a></li>
</ul>