<div class="widgetList{if $userLoggedIn} moveable{/if}" id="dashboardWidgetList">
    {foreach $widgetList as $widget}
            {control widget $widget}
    {/foreach}
</div>
{if $userLoggedIn}
{* <a href="{plink settings:widgets}" class="ajax">Přidat widgety</a> *}
<script>
    window.addEvent('domready', function(){
        if(window.widgets)
            delete window.widgets;
        window.widgets = {
            sorter: new Sortables('#dashboardWidgetList', {
                clone: true,
                handle: 'div.widgetHead',
                opacity:0,
                revert: true,
                onComplete:function(){
                    var s = this.serialize().filter(function(a){  return !!a; }).map(function(i){
                        return i.substring(7);
                    });
                    s = JSON.stringify(s);
                    //console.log(s);
                    AC.ajax('frontendupdatewidgetlist', { list:s }, null, 'get');
                }
            })
        };
        $$('.widgetMenuButton').addEvent('click', function(e){
            if(e){
                e.stop();
                e.stopPropagation();
                e.preventDefault();
            }
            $(this).getParent().getParent().dispose();
            window.widgets.sorter.fireEvent('complete', null, 150);
        });
    });
</script>
{/if}