<style>
    div.widget{
        border: 1px solid gray;
        border-radius: 1px;
        padding: 6px;
        float:left;
        max-width:213px;
        margin: 3px;
    }
    div.widgetHead{
        background: #716969;
        color: #cfc;
        margin: -6px -6px 3px -6px;
        padding: 4px;
    }
    div.widgetTitle{
        display: inline-block;
        cursor: move;
    }
    .widgetMenuButton{
        display: inline-block;
        background: url(http://static.aragorn.cz/images/dark/buttons/wheel-icon.png) center center no-repeat;
        background-size: contain;
        width: 24px;
        height: 20px;
        float: right;
        border: 1px solid #999;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<div class="widgetList{if $userLoggedIn} moveable{/if}" id="dashboardWidgetList">
    {foreach $widgetList as $widget}
            {control widget $widget}
    {/foreach}
</div>
{if $userLoggedIn}
{* <a href="{plink settings:widgets}" class="ajax">Přidat widgety</a> *}
<script>
    window.addEvent('domready', function(){
        if(window.widgets)
            delete window.widgets;
        window.widgets = {
            sorter: new Sortables('#dashboardWidgetList', {
                clone: true,
                handle: 'div.widgetHead',
                opacity:0,
                revert: true,
                onComplete:function(){
                    var s = this.serialize().filter(function(a){  return !!a; }).map(function(i){
                        return i.substring(7);
                    });
                    s = JSON.stringify(s);
                    //console.log(s);
                    AC.ajax('frontendupdatewidgetlist', { list:s }, null, 'get');
                }
            })
        };
        $$('.widgetMenuButton').addEvent('click', function(e){
            if(e){
                e.stop();
                e.stopPropagation();
                e.preventDefault();
            }
            $(this).getParent().getParent().dispose();
            window.widgets.sorter.fireEvent('complete', null, 150);
        });
    });
</script>
{/if}