<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
    <div></div>
    <h2>Dokončení registrace</h2>

    Pro doknčení registrace přejděte prosím na tuto adresu: <a href="{$link}">{$link}</a>
</body>
</html>