{**
 * Aragorn.cz v4 layout template.
 *
 * @copyright  Copyright (c) 2011 Aragorn Team
 * @package    Aragorn.cz
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optinal)
 * @param string   $title    page title
 *}
{if $ajax}
<ul n:if="count($flashes)" class="flashes">
    {foreach $flashes as $flash}
    <li class="{$flash->type}">{$flash->message}</li>
    {/foreach}
</ul>
<h1 id="location">{$title}</h1>
{include #content}
<script type="text/javascript">document.title='{!$title} | Aragorn.cz';
    {if $forceReload}
        location.reload();
    {/if}
        $('page-generation-time').set('text', {?
            $mtime = explode(" ", microtime());
            $endTime = $mtime[1] + $mtime[0];
            $pageGen = $endTime - $startTime
            }{substr($pageGen, 0, 5)}
            );
</script>
{else}
<!DOCTYPE html>
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {* Cache generated urls *}
        {cache}
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{!$staticPath}/css/screen.css" />
        {include 'head.latte'}
        {/cache}
        <script type="text/javascript" charset="utf-8" n:syntax="double">window.AUTHENTICATED={{$isLogedIn = $user->isLoggedIn()}};</script>
        <style type="text/css">
            @font-face{ font-family: "xirwena";src: url("/assets/fonts/paper/xirwena.ttf") format('truetype');}
            @font-face{ font-family: "distink";src: url("/assets/fonts/paper/dir.otf") format('truetype');}
        </style>
        <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/assets/css/ie6.css" /><![endif]-->
    </head>
    <body class="{empty($_COOKIE['skin']) ? 'paper' : $_COOKIE['skin']}{$isLogedIn ? ' runac' : ' runac'}">
        {if $user->isLoggedIn()}
        <menu id="bookmarks">
            <a n:foreach="$bookmarks as $bm" href="{$bm['link']}">{$bm['title']}{$bm['new'] > 0 ? ' <span class="new-bookmark>(' . $bm['new'] . ')</span>' : ''}</a>
        </menu>{/if}
        <div id="constat" title="Connection status: offline" class="offline">&infin;</div>
        <div class="holder">
            {* Cache Logo links *}
            {cache}
            {include 'logo.latte'}
            {/cache}
            <menu id="sidebar-left">
                <div class="block">
                    {if $user->isLoggedIn()}
                    {*Dukáty: <a n:href="settings:" class="ajax">{Bank::getCredit()}</a>
                    <input id="msgStatus" value="{$presenter->userStatus()}" type="text" placeholder="ZprĂˇva stavu" />
                    <input type="button" id="btnStatus" value=">" />*}
                    <a href="{$presenter->userLink($user->getId(), false)}" class="ajax profile" title="{$user->getIdentity()->username}" id="menu-user-profile">
                        <img src="{$presenter->userIcon()}" /> {$user->getIdentity()->username}
                    </a>
                    {* Cache links and user icons *}
                    {cache}
                    <a href="{link settings:}" class="middle ajax" title="Nastavení" id="menu-settings">
                       Nastavení
                    </a>
                    <a href="{link mail:}" class="middle ajax" title="Pošta" id="menu-post">
                        Pošta
                    </a>
                    <a href="{link notes:my}" class="middle ajax" id="menu-notes" title="Osobní poznámky">
                        Poznámky
                    </a>
                    {/cache}
                    {if $user->isAllowed('admin')}
                    <a href="{link :admin:dashboard:}" class="middle" id="menu-admin" title="Redakční systém">
                        RS
                    </a>
                    {/if}
                    <a href="{plink dashboard:logout}" class="middle" title="Odhlásit" id="menu-logout">
                        Odhlásit
                    </a>
                    {else}
                    {* Cache log-in form *}
                    {cache}
                    <a href="#" class="profile">Přihlášení</a>
                    <div id="frmLogin">
                            {form logInForm}
                            {label username /}: {input username}
                            {label password /}: {input password}
                            {input forever}
                            {input login} 
                            <a href="{link registration:}" class="middle ajax">Registrace</a>
                            <a href="{link registration:recoverpassword}" class="middle ajax">Zapomenuté heslo</a>
                            {/form logInForm}
                    </div>
                    {/cache}
                    {/if}
                </div>
                <div class="block">
                    <a href="#" class="profile">Sloupek</a>
                    <p>
                        Nějaké novinky
                    </p>
                </div>
                <div class="block">
                    <a href="#" class="profile">Komunita</a>
                    <a href="{link chat:}" class="middle ajax" id="menu-chat">
                        {*<img src="{$staticPath}/images/chat-icon.png" />*} Chat (<span id="numChatOnline">{count(
                            \Utilities::array_flatten(
                            \frontendModule\chatPresenter::getChatroomOccupants(
                            $node->getConnection())))}</span>)
                    </a>
                    <a href="{link users:}" class="middle ajax" id="menu-users" title="Celkem připojení: {$node->getNumberOfConnections()}">
                       {* <img src="{$staticPath}/images/users-icon.png" />*}
                        Lidé (<span id="numUsrOnline">{$node->getNumberOfUsersOnline()}</span>)
                    </a>
                    {* Another link caching *}
                    {cache}
                    <a href="{link calendar:}" class="middle ajax" id="menu-calendar">
                      {*  <img src="{$staticPath}/images/dark/menu/calendar.png" />*} Kalendář
                    </a>
                    <a href="{link help:}" class="middle ajax" id="menu-help">
                     {*   <img src="{$staticPath}/images/help-icon.png" />*} Nápověda
                    </a>
                    <div id="iddlebar"></div>
                    {/cache}
                </div>
                <div class="block">
                    <a href="" class="profile">Skiny</a>
                    <a href="" class="change-skin" data-skin="paper">Paper</a>
                    <a href="" class="change-skin" data-skin="blue">Blue</a>
                    <a href="" class="change-skin" data-skin="dark">Dark</a>
                    <a href="" class="change-skin" data-skin="light">Light</a>
                </div>
                {* Cache search form *}
                {cache}
                <div class="block">
                    {form searchForm}
                    {input q}
                    {input search}
                    {/form}
                </div>
                {/cache}
            </menu>
            <div class="content" id="content">
                <h1 id="location">{$title}</h1>
                <ul n:if="count($flashes)" class="flashes">
                    {foreach $flashes as $flash}
                    <li>{$flash->message}</li>
                    {/foreach}
                </ul>
                {include #content}
            </div>
        </div>
        {* Cache sound paths *}
        {cache}
        <div style="display:none;">
            <audio id="audioNotification" preload="full">
                <source src="{!$staticPath}/sound/beep.ogg" />
                <source src="{!$staticPath}/sound/beep.mp3" />
                <source src="{!$staticPath}/sound/beep.wav" />
            </audio>
        </div>
        {/cache}
        <footer>
            <!--Provozovatel Aragorn.cz nezodpovídá za příspěvky čtenářů, uživatelů či přispěvatelů.
            Veškerý publikovaný obsah je chráněn autorskými právy vlastníků či autorů konkrétních textových či grafických děl.
            Jakékoliv kopírování obsahu je zakázáno.-->
            Nějaké statistiky toho, jak je Aragorn awesome
            Celkem {$db->users()->count()} uživatelů. Nejnovějším uživatelem je {!$presenter->userlink($db->users()->order('id desc')->limit(1)->fetch(),true)}            Diskuze: {$db->forum_topic()->count()} témat, {$db->forum_posts()->count()} příspěvků
            Čas generování stránky: <span id="page-generation-time">{?
            $mtime = explode(" ", microtime());
            $endTime = $mtime[1] + $mtime[0];
            $pageGen = $endTime - $startTime
            }{substr($pageGen, 0, 5)}</span>s
            <a n:href="dashboard:stats" class="ajax">Další statisktika</a>
        </footer>
    </body>
    {* Cache script paths. Probably unnescessary, but still. *}
    {*cache null, files => 'scripts.latte'*}
    {include 'scripts.latte'}
    {*/cache*}
<script>setTimeout(function(){ $$('#nette-debug').dispose();}, 300);</script>
</html>
{/if}