{**
 * Aragorn.cz v4 layout template.
 *
 * @copyright  Copyright (c) 2011 Aragorn Team
 * @package    Aragorn.cz
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optinal)
 * @param string   $title    page title
 *}
{if $ajax}
<script type="text/javascript">document.title='{!$title} | Aragorn.cz';
    {foreach $flashes as $flash}
    AC.flashMessage({$flash->message}, {$flash->type}});
    {/foreach}
    {if $forceReload}/*$$('.ajax').removeClass('ajax');*/
        location.reload();
    {/if}
</script>
<h1 id="location">{$title}</h1>
{include #content}
{else}
<!DOCTYPE html>
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {include 'head.latte'}
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{!$staticPath}/css/screen.css" />
        <script type="text/javascript" charset="utf-8" n:syntax="double">
            window.AUTHENTICATED = {{$isLogedIn = $user->isLoggedIn()}};
            window.addEvent('domready', function(){
                /* Skin swap animation */
                document.body.addEvent('click:relay(a.change-skin)', function(e){
                    e.stop();
                    var b = document.body;
                    //b.addClass('transition');
                    b.removeClass(Cookie.read('skin'));
                    Cookie.write('skin', this.get('data-skin'));
                    b.addClass(this.get('data-skin'));
                    setTimeout(function(){
                        document.body.removeClass('transition');
                    }, 3000);
                });
                new FloatingTips('div#constat',{
                    position:'bottom',
                    center:false
                });                
            });
        </script>
        <style type="text/css">
            @font-face{ font-family: "xirwena";src: url("/assets/fonts/paper/xirwena.ttf") format('truetype');}
            .paper div.block:nth-of-type(2){
                display:none !important;
            }
            .paper div.block:nth-of-type(3){
                margin-top: 330px;
            }
            .paper div.block:nth-of-type(4){
                margin-top: 330px;
            }
            .paper div.block.how-to-start{
                display:none;
            }
            .paper div.block:nth-of-type(2),.paper div.block:nth-of-type(3),.paper div.block:nth-of-type(4),.paper div.block:nth-of-type(5){
                display: inline-block;
                width: 470px;
                vertical-align: middle;
                text-align: center;
            }
            .paper div.block:nth-of-type(5){
                left:1020px;
                top:12px;
                position:absolute;
            }
            .paper div.block:nth-of-type(5) form#frm-searchForm{
                background:url("/assets/images/paper/bg/search.png") no-repeat scroll -27px -40px transparent;
                text-align: left;
                height: 23px;
            }
            .paper div.block:nth-of-type(5) input[type=text]{
                border:none;
                width:149px;
            }
            .paper div.block:nth-of-type(5) input[type=submit]{
                border: none;
                color: transparent;
                background: transparent;
                margin-left: 3px;
                width: 17px;
                cursor: pointer;
            }
            .paper ul.flashes li{
                background: url("/assets/images/paper/bg/flash.gif") repeat-y left top;
                list-style: none;
                padding: 5px 5px 5px 20px;
            }
        </style>
        <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/assets/css/ie6.css" /><![endif]-->
    </head>
    <body class="{empty($_COOKIE['skin']) ? 'dark' : $_COOKIE['skin']}{$isLogedIn ? ' runac' : ' runac'}">
        {if $user->isLoggedIn()}
        <menu id="bookmarks">
            <a n:for="$i = 0; $i < 20; $i++" href="#">Záložka {$i}</a>
        </menu>{/if}
        <div id="constat" title="Connection status: offline" class="offline">&infin;</div>
        <div class="holder">
            {include 'logo.latte'}
            <menu id="sidebar-left">
                <div class="block">
                    {if $user->isLoggedIn()}
                    <!--DukĂˇty: <a n:href="settings:" class="ajax">{Bank::getCredit()}</a>
                    <input id="msgStatus" value="{$presenter->userStatus()}" type="text" placeholder="ZprĂˇva stavu" />
                    <input type="button" id="btnStatus" value=">" />-->
                    <a href="{$presenter->userLink($user->getId(), false)}" class="ajax profile" title="{$user->getIdentity()->username}" id="menu-user-profile">
                        <img src="{$presenter->userIcon()}" /> {$user->getIdentity()->username}
                    </a>
                    <a href="{link settings:}" class="middle" title="Nastavení" id="menu-settings">
                       {* <img src="{$staticPath}/images/settings.png" /> *} Nastavení
                    </a>
                    <a href="{link mail:}" class="middle ajax" title="Pošta" id="menu-post">
                        {*<img src="{$staticPath}/images/unread_mail.png" />*} Pošta
                    </a>
                    <a href="{link notes:my}" class="middle" id="menu-notes" title="Osobní poznámky">
                        {*<img src="{$staticPath}/images/rs.png" />*} Poznámky
                    </a>
                    {if $user->isAllowed('admin')}
                    <a href="{link :admin:dashboard:}" class="middle" id="menu-admin" title="Redakční systém">
                        {*<img src="{$staticPath}/images/rs.png" /> *} RS
                    </a>
                    {/if}
                    <a href="{plink dashboard:logout}" class="middle" title="Odhlásit" id="menu-logout">
                        {*<img src="{$staticPath}/images/logout.png" />*} Odhlásit
                    </a>
                    {else}
                    <a href="#" class="profile">Přihlášení</a>
                    <div id="frmLogin">
                            {form logInForm}
                            {label username /}: {input username}
                            {label password /}: {input password}
                            {input forever}
                            {input login} 
                            <a href="{link registration:}" class="middle ajax">Registrace</a>
                            <a href="{link registration:recoverpassword}" class="middle ajax">Zapomenuté heslo</a>
                            {/form logInForm}
                    </div>
                    {/if}
                </div>
                <div class="block">
                    <a href="#" class="profile">Sloupek</a>
                    <p>
                        Nějaké novinky
                    </p>
                </div>
                <div class="block">
                    <a href="#" class="profile">Komunita</a>
                    <a href="{link chat:}" class="middle ajax" id="menu-chat">
                        {*<img src="{$staticPath}/images/chat-icon.png" />*} Chat (<span id="numChatOnline">{count(
                            \Utilities::array_flatten(
                            \frontendModule\chatPresenter::getChatroomOccupants(
                            $node->getConnection())))}</span>)
                    </a>
                    <a href="{link users:}" class="middle ajax" id="menu-users" title="Celkem připojení: {$node->getNumberOfConnections()}">
                       {* <img src="{$staticPath}/images/users-icon.png" />*}
                        Lidé (<span id="numUsrOnline">{$node->getNumberOfUsersOnline()}</span>)
                    </a>
                    <a href="{link calendar:}" class="middle ajax" id="menu-calendar">
                      {*  <img src="{$staticPath}/images/dark/menu/calendar.png" />*} Kalendář
                    </a>
                    <a href="{link help:}" class="middle ajax" id="menu-help">
                     {*   <img src="{$staticPath}/images/help-icon.png" />*} Nápověda
                    </a>
                    <div id="iddlebar"></div>
                </div>
                <div class="block">
                    <a href="" class="profile">Skiny</a>
                    <a href="" class="change-skin" data-skin="dark">Dark</a>
                    <a href="" class="change-skin" data-skin="paper">Paper</a>
                    <a href="" class="change-skin" data-skin="blue">Blue</a>
                    <a href="" class="change-skin" data-skin="light">Light</a>
                </div>
                <div class="block">
                    {form searchForm}
                    {input q}
                    {input search}
                    {/form}
                </div>
   
            </menu>
            <div class="content" id="content">
                <h1 id="location">{$title}</h1>
                <ul n:if="count($flashes)" class="flashes">
                    {foreach $flashes as $flash}
                    <li>{$flash->message}</li>
                    {/foreach}
                </ul>
                {include #content}
            </div>
        </div>
        <div style="display:none;">
            <audio id="audioNotification" preload="full">
                <source src="{!$staticPath}/sound/global.ogg" />
                <source src="{!$staticPath}/sound/global.mp3" />
                <source src="{!$staticPath}/sound/global.wav" />
            </audio>
        </div>
        <footer>
            <!--Provozovatel Aragorn.cz nezodpovídá za příspěvky čtenářů, uživatelů či přispěvatelů.
            Veškerý publikovaný obsah je chráněn autorskými právy vlastníků či autorů konkrétních textových či grafických děl.
            Jakékoliv kopírování obsahu je zakázáno.-->
            Nějaké statistiky toho, jak je Aragorn awesome
            Celkem {$db->users()->count()} uživatelů. Nejmladším členem je {!$presenter->userlink($db->users()->order('id desc')->limit(1)->fetch(),true)}            Diskuze: {$db->forum_topic()->count()} témat, {$db->forum_posts()->count()} příspěvků
            Čas generování stránky: {?
            $mtime = explode(" ", microtime());
            $endTime = $mtime[1] + $mtime[0];
            $pageGen = $endTime - $startTime
            }{substr($pageGen, 0, 5)}s
            <a n:href="dashboard:stats" class="ajax">Další statisktika</a>
        </footer>
    </body>
    {include 'scripts.latte'}
    <script>
        setTimeout(function(){
            $('nette-debug').dispose();
        }, 500);
    </script>
</html>
{/if}