# mod_rewrite
RewriteEngine On
#RewriteBase /

# front controller
RewriteRule /xmpp http://test.aragorn.cz:7070/http-bind/ [P]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]
